{% extends "base.html" %}



{% block header %}
{% include "component/nav.html" %} 
{% endblock %}
<br>

{% block content %}
  <!-- Include the navigation here -->
    
    {% if post %}
        {% for post in post %}
            {% include "component/cards.html" with title=post.title description=post.content|truncatewords:30 url_name='blogg:article_detail' url_params=post.pk link_text='Read More' image_url=post.image.url %}
            <p>{{ post.published_date }}</p>
            <p>Author: {{ post.author }}</p>
        {% endfor %}
    {% else %}
        <p>No posts found matching your query.</p>
    {% endif %}

    
{% endblock %}
{% block footer %}
{% include "component/footer.html" %}{% endblock %}

