{% extends "base.html" %}

{% block content %}
    <!-- Include the navigation here -->
    {% include "component/nav.html" %}
    <br>

    <h1 style="text-align: center;">Welcome to the West Side Blog</h1>

    <h2>Latest News from the New York Times</h2>
    <ul>
        {% if nyt_news %}
            {% for news in nyt_news %}
                <li>
                    {% if news.image %}
                        <img src="{{ news.image }}" alt="{{ news.title }}" style="width:100%; max-width:300px;"/>  <!-- Display the image -->
                    {% endif %}
                    <a href="{{ news.url }}" target="_blank">{{ news.title }}</a>
                    <p>{{ news.abstract }}</p>
                </li>
            {% endfor %}
        {% else %}
            <li>No news available at this moment.</li>
        {% endif %}
    </ul>

    <h2>Blog Posts</h2>
    {% if post %}
        <div class="blog-posts">
            {% for post in post %}
                {% include "component/cards.html" with title=post.title description=post.content|truncatewords:30 url_name='blogg:article_detail' url_params=post.pk link_text='Read More' image_url=post.image.url %}
                <p>Published on: {{ post.published_date }}</p>
                <p>Author: {{ post.author }}</p>
            {% endfor %}
        </div>
    {% else %}
        <p>No posts found matching your query.</p>
    {% endif %}
{% endblock %}

{% block footer %}
    {% include "component/footer.html" %}
{% endblock %}
